<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                @if (listProductos.length > 0) {
    <table class="table table-striped table-dark table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoría</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Precio</th>
                <th scope="col" class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (producto of listProductos; track producto) {
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.ubicacion }}</td>
                    <td>{{ producto.precio | currency: '$' }}</td>
                    <td class="text-center">
                        <i class="fas fa-sharp fa-solid fa-pen-to-square text-primary me-3" style="cursor: pointer;"></i>
                        <i (click)="eliminarProductos(producto.id)" class="fas fa-sharp fa-solid fa-trash text-danger" style="cursor: pointer;"></i>
                    </td>
                </tr>
                    } @empty {
                        <tr>
                        <td colspan="5" class="text-center">No hay productos para mostrar</td>
                        </tr>
                    }
                        </tbody>
                    </table>
                     } @else {
                        <div class="alert alert-info mt-5">Cargando productos o lista vacía...</div>
                            }
                </div>
            </div>
        </div>
    </div>
</div>
